
#inovation {
    margin-left: 20px;
    margin-top: 40px;
    border-bottom:dotted  #7f7f7f;
}

#inovation label {
    margin-left: 40px;
}

#inovation a {
    margin-left: 60px;
}


#staff {
    margin-left: 20px;
    margin-top: 40px;
    border-bottom:dotted  #7f7f7f;
}

#staff label {
    margin-left: 40px;
}

#staff a {
    margin-left: 60px;
}
